<app-category-list [list]="events">

  <ng-container content>
    <div class="events-container">
    <div *ngFor="let event of events; let index = index" class="event-container">

      <a>
        <img [src]="event.poster" alt="Poster"/>
      </a>
      <p>
        <a>{{event.title}}</a>
      </p>
      <div>
        <a mat-flat-button color="primary">
          Edit
        </a>
        <button mat-flat-button color="warn" type="button">
          Delete
        </button>
      </div>
    </div>
  </div>
  </ng-container>

</app-category-list>
