<h1>
  Create Category
</h1>

<form (submit)="saveChanges()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name*</mat-label>
    <input formControlName="name" matInput/> <!--to link form attribute in new-event.ts-->
    <mat-error *ngIf="form.invalid">{{getErrorMessageFieldName()}}</mat-error>
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
    <a mat-stroked-button router="/category">Maybe Later</a>
  </div>

</form>

